@font-face {
    font-family: "Montserrat";
    src: url("../assets/Montserrat-VariableFont_wght.ttf");
}

.dropdown {
    display: inline-block;
     position: relative;
     /* ... остальные стили компонента */
}

.dropdownToggle {
    padding: 12px 24px;
    border: 1px solid #3CADFF;
    background-color: transparent;
    font-size: 20px;
    font-family: "Montserrat";
    border-radius: 18px;
  }
  
  .dropdownMenu {
    display: block;
    list-style: none;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
  }
  
  .dropdownMenu li {
    background: #fff;
    padding: 14px 24px;
    border: 1px solid #3CADFF;
    font-size: 20px;
    font-family: "Montserrat";
    border-radius: 18px;
    cursor: pointer;
  }
  
  .dropdownMenu li:hover {
    background: #f1f1f1;
  }
  